<div class="panel-container">
  <div class="panel-body">
      <ng-content></ng-content>
  </div>
  <div class="panel-panel" #panel>

    <div class="panel-holder"  [ngStyle]="{'--panel-width': panel.clientWidth + 'px'}">
<!--      <div class="handler" (dragstart)="beginDrag($event, panel)" (drag)="drag($event, panel)" (dragend)="dragEnd($event, panel)" #handler>-->
<!--        <div class="handler-tiret"></div>-->
<!--      </div>-->
      <!-- (mousedown)="mousedown($event, panel)"
           (touchstart)="touchstart($event, panel)"
           (pointerdown)="pointerDown($event, panel)"  -->
      <div class="handler"
           (pointerdown)="pointerDown($event, panel)"
           #handler>
        <div class="handler-tiret"></div>
      </div>
      <ng-content select="[panel]"></ng-content>
      <div style="flex: 1"></div>
    </div>
  </div>
</div>
