<div class="screenBusy">
  <app-table class="entree" [position]="0" [table]="{'id':0,'dishes': entrees()}" (setTableClick)="setPosition($event)"
             [busy]="true" [ngStyle]="{'z-index':this.tableClick===0 ? 2 : 0}"></app-table>
  <app-table class="plat" [position]="-1" [table]="{'id':-1,'dishes': plats()}"
             [busy]="true" [busyPlat]="true" (setTableClick)="setPosition($event)" [ngStyle]="{'z-index':this.tableClick===-1 ? 2 : 0}"></app-table>
  <app-table class=" dessert
  " [position]="-2" [table]="{'id':-2,'dishes': dessert()}" [busy]="true"
             [busyDessert]="true" (setTableClick)="setPosition($event)" [ngStyle]="{'z-index':this.tableClick===-2 ? 2 : 0}"></app-table>
</div>

