.screenBusy{
  border: outset;
  height: 100%;
  border-radius: 3px;
  align-items: center;
}
h3 {
  text-align: center;
}

.allCommands{
  background-color: #ffe8c6c2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: auto;
  height: 92%;
  border: #c0c0c0 solid 2px;
  padding-top: 1%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
  border-radius: 5px;

}

app-table {
  height: 100%;
  overflow-y: hidden;
}

.addTable{
  height: 10px;
  width: 10px;
  background-color: #a5acaf;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50px;
}

@media (max-width: 1100px) {
  app-table {
    position: absolute;
    pointer-events: none;
    width: 90%;
  }

}

