.screenBusy{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(189, 189, 189, 0.56);
  margin: 1%;
  border: outset;
  height: 90%;
}
.entree,.plat,.dessert{
  margin: 2%;
  border: outset;
  background-color: #ecebeb;
  height: 90%;


}
