<div class="screenBusy">
  <app-table class="entree" [position]="0" [table]="{'id':0,'dishes': entrees()}" (setTableClick)="setPosition($event)"
             [busy]="true" [tableName]="'Entrées'"></app-table>
  <app-table class="plat" [position]="0" [table]="{'id':0,'dishes': plats()}" (setTableClick)="setPosition($event)"
             [busy]="true" [busyPlat]="true" [tableName]="'Plats'"></app-table>
  <app-table class=" dessert
  " [position]="0" [table]="{'id':0,'dishes': dessert()}" (setTableClick)="setPosition($event)" [busy]="true"
  [busyDessert]="true" [tableName]="'Desserts'"></app-table>
</div>

