<app-side-panel>
  <div panel>
    <app-clerk-task-list></app-clerk-task-list>
  </div>
  <div class="body">
    <div class="header">
      <button (click)="changeMode()">Mode apprenti</button>
      <a class="navigation" routerLink="/home">Mes Recettes</a>
    </div>
    <div class="content animate" [ngClass]="{ 'apprentise': isApprenti }">
      <div>
        <app-tutorial [recipe]="selectedRecipe" *ngIf="selectedRecipe" [apprentise]="isApprenti"></app-tutorial>
        <div *ngIf="!selectedRecipe">No recipe selected.</div>
      </div>
    </div>

    <div class="footer animate recipes" [ngClass]="{ 'apprentise': isApprenti }">
      <app-recipe (recipeSelected)="selectRecipe($event)"></app-recipe>
    </div>
  </div>

</app-side-panel>
