//@import '../../../styles/card.scss';

.row {
  display: flex;
}
.col1 {
  flex: 1;
  padding: 1em;
  border: solid;
  border-color: #3f51b5;
}
.col2{
  flex:2;
  padding: 1em;
  border: solid;
  border-color: #3f51b5;
}
