<div class="table">
  <p>Table {{id}}</p>

  <app-type-dish [dishclass]=entrees.type id="{{entrees.type}}{{id}}">
    <li *ngFor="let entree of entrees.dishes" id="{{entree+id}}">{{entree}}<input (click)="strikeOut(entree+id)" type="checkbox" class="checkbox"/></li>
  </app-type-dish>

  <app-type-dish [dishclass]=plats.type id="{{plats.type}}{{id}}">
    <li *ngFor="let plat of plats.dishes" id="{{plat+id}}">{{plat}}<input (click)="strikeOut(plat+id)" type="checkbox" class="checkbox"/></li>
  </app-type-dish>

  <app-type-dish [dishclass]=desserts.type id="{{desserts.type}}{{id}}">
    <li *ngFor="let dessert of desserts.dishes" id="{{dessert+id}}">{{dessert}}<input (click)="strikeOut(dessert+id)" type="checkbox" class="checkbox"/></li>
  </app-type-dish>

</div>
