.screen {
  height: 95%;
  max-height: 95%;
  border: black dashed 1px;
  border-radius: 3px;
  padding: 1rem;
  align-items: center;


}

h3 {
  text-align: center;
}

app-table {
  background-color: blanchedalmond;
  border-radius: 5px;
  align-items: center;
  padding: 1px 5px 1px 5px;
  font-style: italic;
  margin: 1rem;
}
