.screen {
  background-color: rgba(189, 189, 189, 0.56);
  height: fit-content;
  min-height: 95%;
  border: black dashed 1px;
  border-radius: 3px;
  padding: 1rem;
  align-items: center;
}

h3 {
  text-align: center;
}

app-table {
  height: fit-content;
  font-style: italic;
  pointer-events: none;
}

.allCommands {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 970px) {
  .allCommands {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 650px) {
  app-table {
    position: absolute;
    width: 90%;
    height: 80%;
  }
  #table2 {
    margin-left: 14%;
  }

  #table3 {
    margin-left: 28%;
  }

  #table4 {
    margin-left: 42%;
  }

  #table5 {
    margin-left: 56%;
  }

  #table6 {
    margin-left: 70%;
  }

}
