.screen {
  height: 100%;
  border: outset;
  border-radius: 3px;
  padding: 1rem;
  align-items: center;
}

h3 {
  text-align: center;
}

app-table {
  height: fit-content;
  font-style: italic;
}

.allCommands {
  background-color: #ffe8c6c2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: auto;
  height: 92%;
  border: #c0c0c0 solid 2px;
  padding: 1% 0 0 1%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}


.addTable{
  height: 10px;
  width: 10px;
  background-color: #a5acaf;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50px;
}

@media (max-width: 970px) {
  .allCommands {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 650px) {
  app-table {
    position: absolute;
    pointer-events: none;
    width: 90%;
    height: 80%;
  }

}
