<app-side-panel>
  <div panel>
    <app-clerk-task-list></app-clerk-task-list>
  </div>
  <div class="body">
    <div class="header">
      <button class="button-85" role="button" (click)="changeMode()">Mode apprenti</button>
    </div>
    <div class="content animate" [ngClass]="{ 'apprentise': isApprenti }">
        <app-recipe-player [recipe]="selectedRecipe" *ngIf="selectedRecipe" [apprentise]="isApprenti"></app-recipe-player>
    </div>
    <div class="nothing" *ngIf="!selectedRecipe">No recipe selected.</div>
    <div class="footer animate recipes" [ngClass]="{ 'apprentise': isApprenti }">
      <app-recipe-list (recipeSelected)="selectRecipe($event)"></app-recipe-list>
    </div>
  </div>

</app-side-panel>
