<app-side-panel>
  <div panel>
    <app-clerk-task-list></app-clerk-task-list>
  </div>
  <div class="header-page">
    <h1>Guide de recettes</h1>
    <app-change-mod-button (click)="changeMode()" *ngIf="isApprenti"></app-change-mod-button>
  </div>
  <div class="body1">
    <div class="content1 animate1" [ngClass]="{ 'apprentise': isApprenti }">
      <div>
        <app-recipe-player [recipe]="selectedRecipe" *ngIf="selectedRecipe" [apprentise]="isApprenti"></app-recipe-player>
      </div>
    </div>
    <div class="footer1 animate1 recipes1" [ngClass]="{ 'apprentise': isApprenti }">
      <h6>Sélectionnez un plat dans la liste pour afficher la recette</h6>
      <app-recipe-list (recipeSelected)="selectRecipe($event)"></app-recipe-list>
      <div class="expert-button-container">
        <app-change-mod-button [expert]="expert" (click)="tutorialService.toggleExpert()"></app-change-mod-button>
      </div>
    </div>

  </div>

</app-side-panel>
