<app-side-panel class="clerk-theme">
  <div panel>
    <app-clerk-task-list></app-clerk-task-list>
  </div>
  <div class="container my-3 body-content" #container>
    <h1>Guide de recettes</h1>
    <app-recipe-player [recipe]="selectedRecipe" [expert]="expert" *ngIf="selectedRecipe"></app-recipe-player>
    <div class="recipe-list">
        <app-recipe-item class="mx-2"
                         [recipe]="recipe"
                         [selected]="recipe === selectedRecipe"
                         *ngFor="let recipe of recipes" (click)="selectRecipe(recipe)"
        ></app-recipe-item>
    </div>
    <div class="expert-button-container">
      <app-change-mod-button [expert]="expert" (click)="tutorialService.toggleExpert()"></app-change-mod-button>
    </div>
  </div>
</app-side-panel>

