body1{
  overflow: hidden;
}

.container1 {
  display: flex;
  flex-direction: column;
}

.header-page{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.body1 {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

h1{
  color: #9747FF;
}
h6{
  color: #4F4B4B;
}

.footer1 {
  display: flex;
  flex-direction: column;
  //margin-bottom: 100px;
}

.footer1>*{
  width: 100%;
}

.animate1 {
  animation-duration: 1s;
}

.content1 {
  -webkit-flex: 0;
}

.content1.apprentise {
 // -webkit-flex: 1;
}

.recipes1.apprentise {
  -webkit-flex: 0;
}

.recipes1 {
  -webkit-flex: 1;
}


.nothing {
  font-family:'Open Sans', sans-serif; ;
  color: #753BBD;
  font-size: 1.5em;
  text-transform: uppercase;
  position: center;
}


.clerk-theme {
  --primary: #C98DF9;
  --on-primary: #260D46;
  --surface: #252424;
  --on-surface: #FFFFFF;
  --danger: #dc4545;
  --on-danger: #FFFFFF;
  --success: #00c853;
  --on-success: #FFFFFF;
}

.recipe-list {
  flex: 1;
  overflow-x: auto;
  display: flex;
  min-height: 250px;
}

.recipe-list> *{
  max-height: 20vh;
  transition-duration: 200ms;
}

.recipe-list.expert> * {
  max-height: 40vh;
}


.body-content {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.recipe-list {
  flex: 1;
  align-items: center;
  overflow-x: auto;
}

.expert-button-container {
  cursor: pointer;
  user-select: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
