<div class="title1">
  <h1>Liste de tâches</h1>
</div>
<div class="body1">
  <div class="task" *ngFor="let clerktask of clerkTaskList">
    <span> <h3>{{clerktask._qte}} </h3> X {{clerktask.name}}</span>
    <div class="collapsed" [ngStyle]="{ '--content-height': content.clientHeight+'px' }">
      <div #content>
        <button class="mb-3" style="width: 100%" (click)="clerkTaskService.beginTask(clerktask)"
                *ngIf="clerktask.state === 'pending'">Commencer la préparation
        </button>
        <button class="mb-3 button-danger" style="width: 100%;" (click)="clerkTaskService.completeTask(clerktask)"
                *ngIf="clerktask.state === 'began'">Préparation terminée
        </button>
      </div>
    </div>
  </div>
</div>

