<div class="step-container">
  <div class="img" *ngIf="!expert">
    <img [src]="recipeStep.image" [alt]="recipeStep.shortDescription" style="height: 300px">
  </div>

  <!-- Side panel -->
  <div class="description-panel">
    <strong class="description-title">{{recipeStep.shortDescription}}</strong>

    <!-- Description -->
    <p class="description">{{ expert ? recipeStep.shortDescription : recipeStep.description }}</p>

    <!-- Chronometer -->
    <div
      class="chronometer {{ chrono.overdue ? 'overdue' : '' }} {{ chrono.completed ? 'completed' : '' }}"
      style="--value: {{chrono.percent * 100}}%;"
      *ngIf="!expert"
    >
      <span *ngIf="!chrono.overdue && !chrono.completed">{{chrono.remainingTime | formatTime }}</span>
      <span *ngIf="chrono.overdue">en retard</span>
      <span *ngIf="chrono.completed">préparation terminée</span>
    </div>
  </div>
</div>
