<div class="d-flex flex-column">
  <div class="alert alert-info tips">
    Click on image to remove it
  </div>
  <div class="step-container">
    <div class="img" *ngIf="!expert" [ngClass]="{ 'hide-picture': hidePicture }">
      <img [src]="recipeStep.image" [alt]="recipeStep.name" style="height: 300px" class="picture" (click)="tutorialService.toggleHidePicture()">
      <button class="btn btn-secondary picture-button" (click)="tutorialService.toggleHidePicture()">show picture</button>
    </div>

    <!-- Side panel -->
    <div class="description-panel">
      <strong class="description-title">{{recipeStep.name}}</strong>

      <!-- Description -->
      <p class="description">{{ expert ? recipeStep.shortDescription : recipeStep.description }}</p>

      <!-- Chronometer -->
      <div
        class="chronometer {{ chrono.overdue ? 'overdue' : '' }} {{ chrono.completed ? 'completed' : '' }}"
        style="--value: {{chrono.percent * 100}}%;"
        *ngIf="!expert"
      >
        <span *ngIf="!chrono.overdue && !chrono.completed">{{chrono.remainingTime | formatTime }}</span>
        <span *ngIf="chrono.overdue">en retard</span>
        <span *ngIf="chrono.completed">préparation terminée</span>
      </div>
    </div>
  </div>
</div>

