.timer {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1em;
    letter-spacing: -0.6px;
    color: #753BBD;
  }
  .timer span {
    font-size: 2em;
    margin: 0 3px 0 15px;
  }
