.table {
  background-color: #ecebeb;
  padding: 1rem 1rem 1rem 1rem;
  width: 97%;
  height: 80%;
  border-radius: 0 5px 5px 5px;

}

.busy {
  margin: 0 2% 2% 2%;
  padding: 1%;
  border: outset;
  background-color: #ecebeb;
  height: 95%;
  overflow-y: auto;
}

.busyButton {
  margin-left: 2%;
}

.btn-secondary {
  background-color: #ecebeb;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: none;
  color: black;
  font-style: italic;
}

@media (max-width: 1100px) {
  .busy {
    pointer-events: all;
  }
  #tableId-0, #tableId-1, #tableId-2{
    position: relative;
  }
  #tableId-0{
    left: 2%;
  }
  #tableId-1 {
    left: 10%;
  }
  #tableId-2 {
    left: 18%;
  }
}

@media (max-width: 650px) {
  .table {
    pointer-events: all;
    min-height: 95%;
  }
  #tableId0, #tableId1, #tableId2, #tableId3, #tableId4, #tableId5{
    position: relative;
    width: 15%;
  }


  #tableId1 {
    left: 15%;
  }

  #tableId2 {
    left: 30%;
  }

  #tableId3 {
    left: 45%;
  }

  #tableId4 {
    left: 60%;
  }

  #tableId5 {
    left: 75%;
  }

}

