<div class="container">
  <div class="text-center">
    <h1>Le chronomètre</h1>
    <hr>
    <h1>
      <span class="label label-primary">{{timer.minutes}}</span> minutes
      <span class="label label-primary">{{timer.secondes}}</span> secondes
    </h1>
    <br>
    <p>
      <button class="btn btn-danger btn-lg" *ngIf="state.backward" (click)="backward()">Effacer</button>
      <button class="btn btn-danger btn-lg" *ngIf="state.stop" (click)="stop()">Arrêter</button>
      <button class="btn btn-primary btn-lg" *ngIf="state.play" (click)="play()">{{btnPlay}}</button>
    </p>
  </div>
</div>
