.arrow-container {
  display: flex;
  align-items: center;
  font-size: 45px

}

i {
  width: 40px;
  height: 40px;
  user-select: none;
  cursor: pointer;
  color: #753BBD;
}

.container1, :host {
  width: 100%;
  height: 100%;
}

.container1 {
  display: flex;
}
.player{
  display: flex;
  flex-direction: column;
}


button{
  background-color: transparent;
  border: transparent;
}

.body1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
app-count-down{
  flex: 0.5;
}
.timer {
  display: flex;
}

p {
  margin: 0;
}

.image1 {
  width: 500px;
  height: 300px;
  object-fit: cover;
}
