<div class="container">
  <div class="arrow-container left-arrow">
    <i class="fa-solid fa-arrow-left" (click)="previous()"></i><span> précédente étape</span>
  </div>
  <div class="body">
    <h3>Etape {{currentStepIndex + 1}} :</h3>
    <img style="width: 500px; height: 300px;" class="image" [src]="step.image" *ngIf="step.image && apprentise" [alt]="step.id">
    <p>{{step.description}}</p>
  </div>
  <div class="arrow-container right-arrow">
    <span> prochaine étape</span><i class="fa-solid fa-arrow-right" (click)="next()"> </i>
  </div>
</div>


