.entree, .plat, .dessert, .urgent {
  border-radius: 5px;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}
.entree {

  background-color: rgba(255, 234, 0, 0.46);
}

.plat {
  background-color: rgb(255 185 55 / 65%);
}
.dessert {
  background-color: rgba(231, 143, 89, 0.55);
}
.urgent{
  background-color: rgba(246, 67, 67, 0.9);
}

.dish {
  display: grid;
  grid-template-columns: auto max-content min-content;
  max-height: 20px;
  margin: 1% 1% 2%;
}

.dishName{
  margin: 0;
}
ul{
  padding: 1% 1% 1% 6%;
}

.checkbox {
  accent-color: transparent;
  border: 1px solid black;
  border-radius: 3px;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-appearance: none;
  margin: 0 0 0 0.5cm;
}

.check{
  background-color: rgba(80, 80, 80, 0.44);

}
