.entree, .plat, .dessert {
  border-radius: 5px;
  margin-bottom: 1rem;
}

.entree {
  background-color: rgba(255, 234, 0, 0.3);
}

.plat {
  background-color: rgba(222, 203, 127, 0.65);

}
.dessert {
  background-color: rgba(231, 143, 89, 0.55);
}

.dish {
  display: grid;
  grid-template-columns: auto max-content min-content;
  max-height: 20px;
  margin: 1% 1% 2%;
  //justify-content: space-between;

}

.dishName{
  margin: 0;
}
ul{
  padding: 1% 1% 1% 6%;
}

.checkbox {
  accent-color: transparent;
  border: 1px solid black;
  border-radius: 3px;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-appearance: none;
  margin: 0 0 0 0.5cm;
}

.check{
  background-color: rgba(80, 80, 80, 0.44);

}

@media (max-width: 650px) {

}
