.entree, .plat, .dessert {
  border-radius: 5px;
  margin-bottom: 1rem;
}

.entree {
  background-color: rgba(180, 255, 160, 0.86);
}

.plat {
  background-color: rgba(99, 192, 248, 0.65);
}

.dessert {
  background-color: rgba(201, 144, 82, 0.71);
}

.dish {
  display: flex;
  align-items: center;
  max-height: 20px;
  padding: 1%;
}

.checkbox {
  margin-left: 1rem;
}
